{% macro contentSection(heading) %}
  <div class="mt-12 flex">
    <div class="w-36 h-36 flex-shrink-0 flex items-center justify-center bg-aur-blue text-white">
      <h2 class="font-bold">{{ heading }}</h2>
    </div>
    <div class="ml-16">
      {{ caller() }}
    </div>
  </div>
{% endmacro %}