{% from "components/section-menu.njk" import sectionMenu with context %}

{{ sectionMenu([
  { url: "/cinemadrape/windows/", title: "Overview"},
  { url: "/cinemadrape/windows/help/", title: "Help"},
  { url: "/cinemadrape/windows/reviews/", title: "Reviews"},
  { url: "/cinemadrape/windows/download/", title: "Download"},
  { url: "/cinemadrape/windows/donate/", title: "Donate"}
]) }}
