<footer class="py-8 bg-aur-blue-dark text-gray-400">
  <div class="aur-container">

    <div class="grid grid-cols-12 gap-8">
      <div class="col-span-6">
        <h3 class="pb-2 text-lg font-bold border-b-2 text-white">Apps</h3>
        <nav class="mt-2 -ml-3 space-y-2">
          <a class="px-3 py-1 inline-block font-semibold" href="/cinemadrape/windows/">CinemaDrape</a>
          <a class="px-3 py-1 inline-block font-semibold" href="/colorveil/windows/">ColorVeil</a>
          <a class="px-3 py-1 inline-block font-semibold" href="/injuredpixels/windows/">InjuredPixels</a>
          <a class="px-3 py-1 inline-block font-semibold" href="/pixelhealer/windows/">PixelHealer</a>
          <a class="px-3 py-1 inline-block font-semibold" href="/colortypist/windows/">Colortypist</a>
          <a class="px-3 py-1 inline-block font-semibold" href="/whatsmyco/web/">WhatsMyCo</a>
          <a class="px-3 py-1 inline-block font-semibold" href="/thumbico/windows/">Thumbico</a>
          <a class="px-3 py-1 inline-block font-semibold" href="/htmtied/windows/">HTMtied</a>
        </nav>
      </div>

      <div class="col-span-3">
        <h3 class="pb-2 text-lg font-bold border-b-2 text-white">Pages</h3>
        <nav class="mt-2 -ml-3 space-y-2">
          <a class="px-3 py-1 inline-block font-semibold" href="">Home</a>
          <a class="px-3 py-1 inline-block font-semibold" href="/apps/">Apps</a>
          <a class="px-3 py-1 inline-block font-semibold" href="/reviews/">Reviews</a>
          <a class="px-3 py-1 inline-block font-semibold" href="/support/">Support</a>
          <a class="px-3 py-1 inline-block font-semibold" href="/about/">About</a>
        </nav>
      </div>

      <div class="col-span-3">
        <h3 class="pb-2 text-lg font-bold border-b-2 text-white">Social</h3>
        <nav class="">
          <a class="" href="https://www.facebook.com/Aurelitec/" target="_blank">
            <i class="fa fa-facebook aur-icon-social" aria-hidden="true"></i>
          </a>
          <a class="" href="https://github.com/aurelitec" target="_blank">
            <i class="fa fa-github aur-icon-social" aria-hidden="true"></i>
          </a>
        </nav>
      </div>
    </div>

    <p class="mt-12 text-center">Copyright © 1999-{{ site.buildYear }} Aurelitec. All rights reserved.
      <a class="d-sm-block d-lg-inline" href="/about/privacy/">Privacy Policy</a>
    </p>

  </div>
</footer>
