<!doctype html>
<html lang="en">
<head>
  {# Required meta tags #}
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  {# SEO #}
  <title>{{ seoTitle }}</title>
  <meta name="description" content="{{ seoDescription }}">
  <link rel="canonical" href="{{ site.url }}{{ canonicalUrl or page.url }}">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Monda:wght@400;700&display=swap" rel="stylesheet">

  {# Tailwind & Site CSS #}
  <link href="/assets/css/main.css" rel="stylesheet">

  {# Icons, manifest, theme #}
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="theme-color" content="#000000">

  {# Google Analytics  #}
  {# {% if site.isProduction %}
    {% include "blocks/head/google-analytics.njk" %}
  {% endif %} #}
</head>
<body class="text-gray-700 antialiased bg-white">

  {% if layoutHero %}
    {% include "blocks/heroes/" + layoutHero + ".njk" %}
  {% endif %}

  {% if layoutSectionMenu %}
    {% include "blocks/section-menus/" + layoutSectionMenu + ".njk" %}
  {% endif %}

  <div class="mt-20">
    {{ content | safe }}
  </div>

  {% include "blocks/footer/footer.njk" %}
</body>
</html>
