{% from "components/app-hero.njk" import appHero %}

{{ appHero(
    url = "/cinemadrape/windows/",
    title = "CinemaDrape",
    lead = "Minimize distractions and focus on your task by blacking out other screen areas.",
    getUrl = "/cinemadrape/windows/download/",
    getText = "Run or Install for Free",
    extra = "",
    image = "/apps/cinemadrape/windows/jumbotron/cinemadrape-windows-jumbotron-image.jpg"
) }}
