{% from "components/app-hero.njk" import appHero %}

{{ appHero(
    url = "/cinemadrape/windows/",
    title = "CinemaDrape",
    lead = "helps you focus on your current task on the screen by instantly blanking or dimming other less important areas in web pages or background windows.",
    getUrl = "/cinemadrape/windows/download/",
    getText = "Run or Install for Free",
    extra = "",
    image = "/apps/cinemadrape/cinemadrape-windows-hero-screenshot-300x300.png"
) }}
